.trend {
  color: var(--color-golden);
  font-size: 25px;
  margin-top: 2rem;
}

.slider-container {
  /* overflow-x: scroll; */
  position: relative;
  width: 100%;
}

.slide-icon {
  position: absolute;
  color: #fff;
  opacity: 70%;
  cursor: pointer;
}

.slide-icon:hover {
  color: var(--color-golden);
  opacity: 100%;
}

.icon-left {
  top: 40%;
}

.icon-right {
  top: 40%;
  right: 0;
}

.slider {
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.trend-box {
  width: fit-content;
}

.app__trending {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.banner-container {
  /* display: flex; */
  margin-top: 2rem;
}

.search-container {
  background-color: var(--color-golden);
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem 0;
}

.app__search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-lgrey);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.app__search form {
  width: 100%;
}

.input-search {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--color-lgrey);
  color: var(--color-golden);
  font-size: 18px;
  border-radius: 0.5rem;
}

.input-search::placeholder {
  color: var(--color-golden);
}

.icon-search {
  color: var(--color-golden);
  cursor: pointer;
}

.search-text {
  color: var(--color-lgrey);
  font-size: 40px;
  margin-bottom: 1rem;
}
